

header{
    display: grid;
    background-color: #0032a0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    color: #ffffff;


}
ul{
    list-style: none;
}
li{
    list-style: none;
}
.form-control{
    width: 400px;
}
.form{
    margin-top: 50px;
    width: 500px;
    margin-left: 30%;
    align-items: center;
    justify-content: center;

}
.alert{
    display: grid;
    align-items: center;
    justify-content: center;

    background: rgba(0,0,0,0.7);
    margin-top: 20px;
 }
 .alert-warning{
    display: grid;
    margin-top: 20px;
    background-color: #a86800;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
 }
 .btn-warning{
    position: relative;
    display: grid;
    margin-top: 20px;
    background-color: #a86800;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 120px;
 }
.basic{
    display: grid;
    margin-top: 20px;
    background-color: #a86800;
    align-items: center;
    justify-content: center;
    margin 0 auto;
}

.main__basic{
    width: 60%;
    display: grid;
    background: rgba(0,0,0,0);
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    margin 0 auto;
}

.main{
    display: flex;
    height: 100vh;

}
.main__left{
    display: grid;
    width: 20%;
    background: #d5d8ff;
    list-style: none;

    height: 100%;

}
.main__basic{
    width: 60%;
}
.main__right{
    width: 20%;
    background-color: yellow;
    height: 100%;
}

/*footer{
    background-color: #0032a0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;

}*/


.main__left_logo{
    height: 40px;
    width: 40px;
    border: solid 0 red;
}