{% extends "main/layout.html" %}



{% block title %}Create Page{% endblock %}

{% block content %}
    <h1>Create Page</h1>

    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing.</h5>
    {% include 'main/test2.html' %}
{% endblock %}

{% block basic %}
 <div class ="create create-page">
     <form method="POST">
        {% csrf_token %}
        {{form.title}}<br>
        {{form.input}}<br>
        {{form.content}}<br>
        {{form.date}}<br>
        {{form.error}}
        <button type="submit">Redirect</button>
     </form>

 </div>
{% endblock %}