
{% extends "main/layout.html" %}
<h1>Main Page</h1>


{% block title %}Main Page{% endblock %}

{% block content %}
    <h1>Main Page</h1>
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing.</h5>
    {% include 'main/test2.html' %}

{% endblock %}
{% block basic %}
    <h1>Main Page</h1>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Глвная Страница</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="main">-->
<!--    <h1>Main Page</h1>-->
<!--    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing.</h5>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->